<h1>Editing movie</h1>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Movie_url:</strong>
  <%= @movie.movie_url %>
</p>

<p>
  <strong>Image_url:</strong>
  <%= @movie.image_url %>
</p>
<%= image_tag(@movie.image_url) %>

<br>

<%= render 'form' %>