<p>
  <strong>user_id:</strong>
  <%= @evaluated_movie.user_id %>
</p>

<p>
  <strong>movie_id:</strong>
  <%= @evaluated_movie.movie_id %>
</p>

<p>
  <strong>star:</strong>
  <%= @evaluated_movie.star %>
</p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Movie_url:</strong>
  <%= @movie.movie_url %>
</p>

<p>
  <strong>Image_url:</strong>
  <%= @movie.image_url %>
</p>
<%= image_tag(@movie.image_url) %>

<br>